<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Inzerát byl úspěšně vložen na hambazar.cz</title>
</head>
<body>
<p>Dobrý den,</p>

<p>Vaše inzerát byl úspěšně přidán.</p>

<p><strong>Text inzerátu: </strong> <br><br>

    {$text}
</p>
<hr>


<p>Pokudu Váš inzerát již bude neplatný klikněte <a n:href="//Deactivate: id=>$id">zde</a> a bude odebrán.</p>

<p>Přejeme hezký zbytek dne.</p>

</body>
</html>
