<div class="row">
    <div class="col s12">
        <div class="card ">
            <div class="card-content center-align">
		Vítejte na stránkách nového bazaru. Bazar je určen pro prodej věcí souvisejících s <b>radioamatérskou tématikou</b>. Po vložení inzerátu Vám příjde email s odkazem, kde je možné inzerát z bazaru po vypršení jeho <b>platnosti odstranit</b>. Kdo bude tento prostor zneužívat, bude mu <b>zablokován přístup</b>. Pokud budete mít jakýkoliv problém  pište na <a href="mailto:bazar@ok1cdj.com">bazar@ok1cdj.com</a>.
            </div>
        </div>
    </div>
</div>
