<script type="text/javascript"><!--
    google_ad_client = "ca-pub-9293429613335792";
    /* vkvzavody2 */
    google_ad_slot = "9964422786";
    google_ad_width = 468;
    google_ad_height = 60;
    //-->
</script>
<script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>