{* This is the welcome page, you can delete it *}

{block content}

<h1>HAM Bazar</h1>

{include "addsenceHeader.latte"}
{include "../header.latte"}

{control form}
{control list}

{include "addsenceFooter.latte"}
