parameters:
	mail-from: 'inzerat@XXX.cz'
	mail-admin: ['admin@xxx.com']
	subject: "Inzerát byl úspěšně přidán"
	history-item-per-page: 25
	security-key: 'XXX'
	security-iv: 'XXX'

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

extensions:
	recaptcha: Contributte\ReCaptcha\DI\ReCaptchaExtension

recaptcha:
	siteKey: '###'
	secretKey: '###'

mail:
    smtp: true
    host: smtp.xxx.cz
    port: 465
    secure: ssl
    username: inzerat@xxx.cz
    password: XXXX

session:
	expiration: 14 days

services:
	router: \App\Router\RouterFactory::createRouter
	- App\Components\IAdvertisementForm
	- App\Components\IAdvertisementList
	- App\Model\BanIPModel
	- App\Model\AdvertismentManager
	userManager:
	    class: App\Model\UserManager
	    setup:
	        - init(%userName%,%userPassword%)
	- App\Model\MailManager(%mail-from%,%mail-admin%,%subject%)
	- App\AdminModule\Forms\ILoginForm
	- App\Security\CryptoService(%security-key%,%security-iv%)
	- App\Components\MailingTemplate