parameters:
	mail-from: '####'
	mail-admin: ['####','aaa']
	subject: "Inzerát byl úspěšně přidán"
	history-item-per-page: 25
	security-key: 'LgJ9yPD5mfmvI9RkygYXrA==' ## DEFAULT PRIVATE KEY .. YOU MUST CHANGE!!!
	security-change-day: '15. 11. 2016'
application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

extensions:
	reCaptcha: ReCaptchaControl\ReCaptchaExtension

reCaptcha:
	siteKey: '####'
	secretKey: '####'
	methodName: 'addReCaptcha' # optional

session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	- App\Components\IAdvertisementForm
	- App\Components\IAdvertisementList
	- App\Model\AdvertismentManager(%security-change-day%)
	- App\Model\UserManager(%userName%,%userPassword%)
	- App\Model\MailManager(%mail-from%,%mail-admin%,%subject%)
	- App\AdminModule\Forms\ILoginForm
	- App\Collegas\Security\CryptoService(%security-key%)