parameters:
	mail-from: '####'
	subject: "Inzerát byl úspěšně přidán"
	history-item-per-page: 25

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

extensions:
	reCaptcha: ReCaptchaControl\ReCaptchaExtension

reCaptcha:
	siteKey: '####'
	secretKey: '####'
	methodName: 'addReCaptcha' # optional

session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	- App\Components\IAdvertisementForm
	- App\Components\IAdvertisementList
	- App\Model\AdvertismentManager
	- App\Model\UserManager(%userName%,%userPassword%)
	- App\Model\MailManager(%mail-from%,%subject%)
	- App\AdminModule\Forms\ILoginForm